html{
	background-color:white;
}
*{
	margin:0px;
	padding:0px;
}
body{
	width:1100px;
	margin: auto;
}
header{
	height:100px;
	background-color:black;
	color: white;
	
}
header h1{
	font-family: tahoma;
	font-style:italic;
	font-size:70px;
	height:100px;
}
#top_nav .ul1{
	height:40px;
	background-color:white;
}
#top_nav .ul1 li{
	display:inline;
	display:inline-block;
	padding:10px 5px 10px 10px;
	color:white;
	font-size:20px;
}
footer{
	height:100px;
	background-color:black; 
	text-align: center;
	color: white;
}
#sidenav{
	float:left;
	margin-bottom:650px;
}
#sidenav h1{
	color: white;
}
#sidenav .ul1 li{
	list-style:none;
	border:solid black 1px;
	padding:10px;
	width: 130px;
	background-color:white;
}
.main{
	width: 1000px;
	padding: 20px;
	border: solid 1px;
	color:black;
	background-color:white;
}
.main p{
	padding: 20px;
	font-size:18px;
	font-family: sans-serif;
}