html{
	background:white;
}
*{
	margin:0px;
	padding:0px;
}
body{
	height:100vh;
}
header{
	height:50px;
	background-color:#66B032;
	color:#092834;
}
header h1{
	font-family: tahoma;
	font-style:italic;
	text-align: center;
}
#sidenav{
	border: solid 1px;
	float:left;
}
#sidenav h1{
	color:black;
	text-align: center;
	background-color:#66B032;
}
#sidenav .list {
	list-style:none;
}
#sidenav .list li p{
	padding-top:20px; 
}
#sidenav a:link,visited{
	border: solid 1px;
	display: inline-block;
	width:170px;
	padding:0px 0px 08px 09px;
	text-decoration: none;
}
#sidenav a:hover {
	background-color:#347B98;

}
#sidenav a:hover img{
	margin-right:20px;
	-webkit-transform: rotate(340deg) scale(1.4);
	-webkit-transition: .4s ease-in-out;
}
.main{
	width:900px;
	padding-left:400px;

}
.main .first{
	border: solid 1px;
	height: 350px;
	width: 200px;
	float: left;
	margin: 20px;
	background-color:#F0F7D4;
}
.main .first h3{
	background-color:#347B98;
	padding: 10px;
	text-align: center;
	color:#092834; 
}
.main .first p{
	padding: 10px;
	margin-bottom: 200px;
}
input[type="text"]{
	width: 140px;
}
img{
	border-radius: 50%;
	width:60px;
	float: left;
}

footer{
	height:60px;
	width: 100%;
	background-color:#092834; 
	color:#F0F7D4;
	position: absolute;
	bottom: 0px;

}
footer p{
	text-align: center;
}
.icon{
	color:#66B032;
	word-spacing: 20px;
	margin-right:20px;
	float: right;
	font-size:25px;
}