.tstyle1{
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: blue;
	text-decoration-style:dashed;
	text-shadow:5px 5px 10px blue;
	font-size:40px;
	cursor: crosshair;

}
.tstyle2{
	width: 400px;
	border: ridge 10px;
	padding: 20px;
	line-height: 20px;
	letter-spacing:05px;
	background:silver;
	height: 400px;
	cursor:help;
}
.tstyle3{
	width:80rem; padding: 20px;
	background:royalblue;
	font-weight:bolder;
	font-size: 20px;
	font-style:oblique;
	user-select:none;
	
}
 .tstyle4{
 	padding: 20px;
 	background:gray;
 	word-spacing: 40px;
 	writing-mode:vertical-rl;

 }
 .tstyle5{
 	
 }
 footer{
 	background:rgb(20,30,33);
 	height: 200px;
 	color: white;
 }
 footer .c1{
 	text-align: center;
 }
 footer .c2{
 	word-spacing:30px;
 	text-indent: 200px;
 	cursor: crosshair;
 	
 }
footer .direct{
	direction: rtl;
}